{{#linha}}
<h1>{{#str}} viewing_integration, local_suap {{/str}}</h1>
<dl>
<dt>ID</dt><dd>{{id}}</dd>
<dt>{{#str}} when, local_suap {{/str}}</dt><dd>{{#userdate}} {{timecreated}}, {{#str}} strftimerecentfull, core_langconfig {{/str}} {{/userdate}}</dd>
<dt>{{#str}} status, local_suap {{/str}}</dt><dd>{{status}}</dd>
<dt>{{#str}} logs, local_suap {{/str}}</dt><dd><a href="{{log_url}}">{{#str}} view_logs, local_suap {{/str}}</a></dd>
<dt>{{#str}} json, local_suap {{/str}}</dt><dd><pre>{{json}}</pre></dd>
</dl>
{{/linha}}