{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_suap/view

    Template for rendering details of an integration attempt.

    Context variables required for this template:
    * linha - object containing integration details

    Example context (json):
    {
        "linha": {
            "id": 1,
            "timecreated": 1700000000,
            "status": "Sucesso",
            "log_url": "https://example.com/log",
            "json": "{}"
        }
    }
}}
{{#linha}}
<h1>{{#str}} viewing_integration, local_suap {{/str}}</h1>
<dl>
<dt>ID</dt><dd>{{id}}</dd>
<dt>{{#str}} when, local_suap {{/str}}</dt><dd>{{#userdate}} {{timecreated}}, {{#str}} strftimerecentfull, core_langconfig {{/str}} {{/userdate}}</dd>
<dt>{{#str}} status, local_suap {{/str}}</dt><dd>{{status}}</dd>
<dt>{{#str}} logs, local_suap {{/str}}</dt><dd><a href="{{log_url}}">{{#str}} view_logs, local_suap {{/str}}</a></dd>
<dt>{{#str}} json, local_suap {{/str}}</dt><dd><pre>{{json}}</pre></dd>
</dl>
{{/linha}}